<div class="mat-elevation-z8" fxLayout="column" fxLayoutAlign="start end" id="task-table-v2-root">
  <button (click)="clearSelection()" mat-raised-button>Clear Selection</button>

  <!-- AG Grid Angular Component -->
  <ag-grid-angular
    (cellClicked)="onCellClicked($event)"
    (gridReady)="onGridReady($event)"
    [animateRows]="true"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData$ | async"
    [rowSelection]="'multiple'"
    class="ag-theme-alpine"
    id="ag-grid-table">
  </ag-grid-angular>
</div>
