<mat-toolbar color="primary" id="app-toolbar">

  <button (click)="navigateHome()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <span (click)="navigateHome()" class="toolbar-title">Organizer</span>

  <span class="toolbar-spacer"></span>

  <a class="hyperlink-no-style" href="https://github.com/felixsteinke/organzier-application-demo" target="_blank">
    <button mat-icon-button>
      <mat-icon>developer_mode</mat-icon>
    </button>
  </a>
</mat-toolbar>

<div id="app-router-container">
  <router-outlet></router-outlet>
</div>
