<div fxLayout="column" fxLayoutAlign="start center" id="calender-picker-root">
  <mat-card id="calendar-picker-data-card">
    <table>
      <tr>
        <td *ngFor="let item of monthRow1; index as i;">
          <button (click)="clickMonth(item.month)" class="month-select-btn"
                  mat-stroked-button matBadge="{{getCalendarDaysCount(item.month, calendarDays)}}"
                  matBadgeColor="accent"
                  matBadgeSize="medium">
            {{item.name}}
          </button>
        </td>
      </tr>
      <tr>
        <td *ngFor="let item of monthRow2; index as i;">
          <button (click)="clickMonth(item.month)" class="month-select-btn"
                  mat-stroked-button matBadge="{{getCalendarDaysCount(item.month, calendarDays)}}"
                  matBadgeColor="accent"
                  matBadgeSize="medium">
            {{item.name}}
          </button>
        </td>
      </tr>
    </table>

    <mat-calendar (selectedChange)="emitSelectedDate()"
                  [(selected)]="selectedDate"
                  [dateClass]="highlightDates()"
                  [startAt]="viewDate"
                  class="data-form-cell">
    </mat-calendar>
  </mat-card>
</div>



