<div class="home-grid">

  <div class="info-grid-area" fxLayout="column" fxLayoutAlign="center end">
    <div class="main-text"><h2>High Tech Organizer</h2></div>
    <div class="side-text"><h2>Work in Progress</h2></div>
    <button (click)="navigateToTasks()" color="primary" mat-raised-button>View Tasks</button>
    <button (click)="navigateToCalendar()" color="primary" mat-raised-button>View Calendar</button>
  </div>

  <div class="image-grid-area" fxLayout="column" fxLayoutAlign="center center">
    <img alt="Robot Human" src="../../../assets/human-interactive-tech-interaction.png">
    <a href="https://www.vecteezy.com/free-vector/tech" target="_blank">Tech Vectors by Vecteezy</a>
  </div>

</div>


