<div fxLayout="column" fxLayoutAlign="start start" id="task-table-root">
  <div fxLayout="row" fxLayoutAlign="center center" id="task-table-actions">
    <mat-form-field appearance="outline">
      <mat-label>Choose Table Library</mat-label>
      <mat-select [(ngModel)]="selectedTableOption">
        <mat-option [value]="1">Angular Material</mat-option>
        <mat-option [value]="2">W2 UI</mat-option>
        <mat-option [value]="3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>

    <span class="action-spacer"></span>

    <button (click)="generateTasks()" [disabled]="isLoading" color="primary" mat-raised-button>
      Generate Data
    </button>
  </div>

  <div id="task-table-container">
    <app-task-table-v1 (selectedTaskId)="onSelectedTaskId($event)"
                       *ngIf="selectedTableOption === 1"></app-task-table-v1>
    <app-task-table-v2 *ngIf="selectedTableOption === 2"></app-task-table-v2>
    <app-task-table-v3 *ngIf="selectedTableOption === 3"></app-task-table-v3>
  </div>
</div>
