<div id="calender-view-root">

  <div id="calendar-grid">
    <div id="year-grid-area">
      <app-calendar-select [(building)]="calendar.building" [(country)]="calendar.locale" [(name)]="calendar.name"
                           [(region)]="calendar.region" [(year)]="calendar.year"
                           [id]="calendar.id"></app-calendar-select>
      <mat-card class="area-action-card" fxLayout="row wrap" fxLayoutAlign="end center">
        <button color="warn" mat-raised-button>
          Delete
        </button>
        <button color="accent" mat-raised-button>
          Edit
        </button>
        <button color="primary" mat-raised-button>
          Save
        </button>
      </mat-card>
    </div>

    <div id="month-grid-area">
      <app-calendar-picker (selectedDate)="onSelectedDate($event)" [calendarDays]="calendar.days"
                           [year]="calendar.year"></app-calendar-picker>
    </div>

    <div id="day-grid-area">
      <app-calendar-item [(calendarType)]="calendarType" [(dayType)]="calendarDay.dayType"
                         [(description)]="calendarDay.description"
                         [(name)]="calendarDay.name" [date]="selectedDate"></app-calendar-item>

      <mat-card class="area-action-card" fxLayout="row wrap" fxLayoutAlign="end center">
        <button color="warn" mat-raised-button>
          Delete
        </button>
        <button class="accent" color="accent" mat-raised-button>
          Edit
        </button>
        <button color="primary" mat-raised-button>
          Save
        </button>
      </mat-card>
    </div>
  </div>
</div>
