#calender-view-root {
  margin: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

#calendar-grid {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas:
    'picker-area panel-area';
  grid-template-columns:
    calc(70% - 10px) 30%;

  gap: 10px;
}

#picker-grid-area {
  grid-area: picker-area;
}

#panel-grid-area {
  grid-area: panel-area;

  .panel-space {
    height: 8px;
  }

  .panel-card {
    button {
      margin: 0 2.66%;
      width: 28%;
    }
  }
}
