#calendar-select-root {
  width: 100%;
}

#calendar-select-data-form {
  width: 100%;

  mat-card-title {
    margin-bottom: 20px;
  }

  mat-form-field {
    width: 100%;
  }

  mat-tree {
    width: 100%;
  }

  .node-loading-spinner {
    margin-left: 30px;
  }
}
