<div fxLayout="column" fxLayoutAlign="start center" id="calendar-item-root">
  <mat-card fxLayout="column" fxLayoutAlign="start start" id="calendar-item-data-form">

    <mat-card-title *ngIf="date">
      {{getDayName(date)}}
    </mat-card-title>
    <mat-card-title *ngIf="dateRange">
      {{getDayName(dateRange.start)}}to {{getDayName(dateRange.end)}}
    </mat-card-title>

    <mat-form-field appearance="outline">
      <mat-label>Calendar Type</mat-label>
      <mat-select (change)="emitCalendarType()" [(ngModel)]="calendarType">
        <mat-option *ngFor="let cType of calendarTypeOptions" [value]="cType">
          {{cType}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input (change)="emitName()" [(ngModel)]="name" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea (change)="emitDescription()" [(ngModel)]="description" matInput rows="3"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Day Type</mat-label>
      <mat-select (change)="emitDayType()" [(ngModel)]="dayType">
        <mat-option *ngFor="let dType of dayTypeOptions" [value]="dType"
                    matTooltip="{{dType.isBilling ? 'Billable' : 'Not Billable'}}"
                    matTooltipPosition="left" matTooltipShowDelay="500">
          {{dType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-card>
</div>
